<?php echo $this->doctype() . "\n"; ?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle() . "\n"; ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <?php echo $this->headLink() . "\n"; ?>
    <?php echo $this->headStyle() . "\n"; ?>
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

    </style>
    <script type="text/javascript">
        var _config = {};
        _config.controller = "<?php echo $this->Escape($this->params['controller']); ?>";
        _config.action = "<?php echo $this->Escape($this->params['action']); ?>";
        _config.domain = "<?php echo LOCATION; ?>";
    </script>
</head>

<body>

<div class="container">
    <?php echo $this->render('partial/_flash_messenger.phtml'); ?>
    <?php echo $this->layout()->content ?>

</div>
<!-- /container -->

<!-- Placed at the end of the document so the pages load faster -->
<?php // @TODO: dynamic minify the JS files ?>
<?php echo $this->headScript() . "\n"; ?>
</body>
</html>
