<?php if ( !empty($this->messages) ): ?>
    <?php foreach($this->messages as $message): ?>
        <?php if($message[0] == 'error'): ?>
            <div class="alert alert-block alert-error">
        <?php elseif($message[0] == 'success'): ?>
            <div class="alert alert-block alert-success">
        <?php endif; ?>
        <?php if(!isset($message[3])): ?>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        <?php endif; ?>
        <p><strong><?php echo $message[1]; ?></strong></p>
        </div>
    <?php endforeach; ?>
<?php endif; ?>